* {
  box-sizing: border-box;
}

.wrap {
  border: 3px solid;
  width: 900px;
  margin: 10px auto;
  padding: 10px;
  &--head {
    border-color: brown;
    nav {
      border: inherit;
      border-color: lightgreen;
    }
  }
  &--main {
    border-color: teal;
    section {
      border: 3px dashed orange;
      margin-bottom: 10px;
      padding: inherit;
    }
  }
  &--foot {
    border-color: darkgreen;
  }
}

.logo {
  display: block;
  margin: auto;
  width: 600px;
  height: 200px;
}

.map,
.stickers {
  width: 575px;
  height: 325px;
}

#message {
  width: 400px;
  height: 100px;
}

.mail {
  color: black;
  width: 80px;
  height: 80px;
}
